.about-us {
    border: 10px solid rgb(137, 221, 244);
    color: rgb(137, 221, 244);
    border-radius: 8px;
    height: 50%;
    min-height: 600px;
    width: 40%;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 25px;
    padding: 10px;
}

.heading {
    text-decoration: underline;
}

.contact{
    
}