.sign-up-box {
    border: 10px solid rgb(137, 221, 244);
    color: rgb(137, 221, 244);
    border-radius: 8px;
    height: 50%;
    min-height: 450px;
    width: 40%;
    justify-content: center;
    align-items: center;
    background: black;
}

.h1 {
    justify-content: center;
}

.form-input {
    margin-left: 20px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid;
}

.form-input:focus {
    outline: none;
}

.form-input-container {
    margin: 50px auto;
    align-items: center;
}

/* CSS */
.button-53 {
    
    background-color: rgb(137, 221, 244);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

.box {
    justify-content: center;
}